.content__wrap {
  height: 100%;

  @media (min-width: 1000px) {
    margin-left: 40%;
    width: 60%;
  }

  @media (max-width: 1000px) {
    top: 0;
    left: 0;
    right: 0;
    height: 500px;
  }
}
